.schedule-day-header {
  background: linear-gradient(
    90deg,
    rgb(103 91 225 / 30%),
    rgb(11 11 65 / 14%)
  );
}

.day-title {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.day-title span:last-child {
  color: #bfc8f5;
  font-weight: 500;
}
